{% extends 'navbar.html' %}
{% block content %}
<div class="container">
    <div class="card">
        <p class="title">Akkauntga kirish</p>
        {% if messages %}
            {% for message in messages %}
                <div style="color: red;">
                    <h2>{{message}}</h2>
                </div>
            {% endfor %}
        {% endif %}
        <p class="text signup_text">Salom! Kiderga Ro'yxatdan O'ting</p>
        <form class="login" method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="input_box">
                <i class="fa-regular fa-user"></i>
                <input type="text" placeholder="Username" name="username">
            </div>
            <div class="input_box">
                <i class="fa-solid fa-lock"></i>
                <input type="password" name="password1" placeholder="Password">
            </div>
            
            <button class="btn btn-primary">Kirish</button>
        </form>


    </div>
</div>


{% endblock %}