{% extends 'navbar.html' %}
{% block content %}

<div class="container">
    <div class="card">
        <p class="title">Ro'yxatdan o'tish</p>
                {% if messages %}
                    {% for message in messages %}
                    <div style="color: red;">
                        <h2>{{message}}</h2>
                    </div>
                    {% endfor %}
                {% endif %}
                <p class="text signup_text">Salom! Kiderga Kirish Uchun Ro'yxatdan O'tin.</p>
                <form class="sign_form" method="POST" action="{% url 'register' %}">
                    {% csrf_token %}
                    <div>
                        <input type="text" placeholder="Username" name="username">
                    </div>
                    <div>
                        <input type="email" placeholder="Email address" name="email">
                    </div>
                    <div>
                        <input type="password" placeholder="Password" name="password1">
                    </div>
                    <div>
                        <input type="password" placeholder="Confirm Password" name="password2">
                    </div>
                    <button class="btn btn-primary">Account Ochish</button>
                </form>

    </div>
</div>
                

{% endblock %}